<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109275156915-qpovproeon0tqbkgmqok3apj8ejjkctv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109275156915-qpovproeon0tqbkgmqok3apj8ejjkctv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109275156915-pgoimk9a0hlbe8icb1jd9ibcepcbq4l2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtoXpNeaUeS8Je93RVmJy8bhwQqCTUQ6s</string>
	<key>GCM_SENDER_ID</key>
	<string>109275156915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-cf4b2</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-cf4b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109275156915:ios:785edc1ed5e100614c7bc6</string>
</dict>
</plist>